body{
    margin: 0;
}

// header{
//     .mauve{
//         background-color: purple;
//         padding: 5px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         position: relative;
//     }
// }

header{
    .mauve{
        background-color: purple;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            height: 50px;
            width: auto;
            position: absolute;
            top: 0; left: 10px;
        }
        form{
            label{
                color: white;
            }
            input{
                padding: 10px;
                border: 0;
                border-radius: 10px;
            }
            button{
                background-color: lime;
                border: 0;
                border-radius: 5px;
                color: white;
                padding: 10px;
                text-transform: uppercase;
            }
        }
    }

    nav{
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgray;

        .coworking{
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
               
            }
               
    }
}

